  <ul class="partsContainer">
    <% if (parts) { %>
    <% parts.forEach((part) => { %>

<% const linkRef = `/part/${part.part_id}`; %>

<a class="partLink" href=<%=linkRef %>>

    <li class="part">
      <div class="partComponent">
        <label>Name:</label>
        <p class="partValue"><%= part.part_name %></p>
      </div>
      <div class="partComponent">
        <label>Category:</label>
        <p class="partValue"><%= part.category_name %></p>
      </div>
      <div class="partComponent">
        <label>Quantity:</label>
        <p class="partValue"><%= part.quantity %></p>
      </div>
      <div class="partComponent">
        <label>Description:</label>
        <p class="partValue"><%= part.description %></p>
      </div>
      <div class="partComponent">
        <label>tags:</label>
        <ul>
            <% partsTags.forEach((row) => { %>
                <% if (row.part == part.part_id) { %>
                    <li>
                        <p class="partValue"><%= row.tag_name %></p>
                    </li>
             <%   } %>
            <% }) %>
        </ul>
      </div>
    </li>

  </a> 
  
    <% }); %>
    <% }; %>
  </ul>
