<div class="part selectedPart">
  <div class="partComponent">
    <label>Name:</label>
    <p><%= selectedPart.part_name %></p>
  </div>
  <div class="partComponent">
    <label>Category:</label>
    <p><%= selectedPart.category_name %></p>
  </div>
  <div class="partComponent">
    <label>Quantity:</label>
    <p><%= selectedPart.quantity %></p>
  </div>
  <div class="partComponent">
    <label>Description:</label>
    <p><%= selectedPart.description %></p>
  </div>
  <div class="partComponent">
    <label>tags:</label>
    <ul>
      <% partsTags.forEach((row) => { %> <% if (row.part ==
      selectedPart.part_id) { %>
      <li>
        <p><%= row.tag_name %></p>
      </li>
      <% } %> <% }) %>
    </ul>
  </div>

  <div class="partComponent">
    <% const editHref = `${selectedPart.part_id}/edit` %>
    <a href=<%= editHref %>>
      <button class="editPart">Edit</button>
    </a>
    
    <% const deleteHref = `${selectedPart.part_id}/delete` %>
    <form action=<%= deleteHref %> method="post">
      <button type ="submit" class="deletePart">Delete</button>
    </form>
    
  </div>
</div>
