<form action="/part/new" method="post">
  <label for="part">Create a Part:</label>
  <input type="text" name="part" required autocomplete="off" maxlength="30"/>

  <label for="category">Category:</label>
  <select name="category" id="categorySelect">
    <% categories.forEach((category) => {%>
    <option><%= category.name %></option>
    <% }); %>
  </select>

  <label for="description">Description:</label>
  <textarea name="description" id="descriptionField" placeholder="Optional description here"></textarea>

  <ul class="tagOptions">
        <% tags.forEach((tag) => { %>
            <li class="tagOption">
                <label for=<%= tag %>><%= tag.name %></label>
                <input name= "tag" value = <%= tag %> type="checkbox">
            </li>
        <%  }) %>
  </ul>

<%- include ('./newTag') %>



  <button type="submit">Submit</button>
</form>
