<form action="/part/new" method="post">
  <label for="part">Create a Part:</label>
  <input type="text" name="part" />

  <select name="category" id="categorySelect">
    <% categories.forEach((category) => {%>
    <option><%= category.name %></option>
    <% }); %>
  </select>

  <ul class="tagOptions">
        <% tags.forEach((tag) => { %>
            <li class="tagOption">
                <label for=<%= tag %>><%= tag.name %></label>
                <input name= "tag" value = <%= tag %> type="checkbox">
            </li>
        <%  }) %>
  </ul>

<!-- Next we can create and import a form to create a new tag -->
<%- include ('./newTag') %>



  <button type="submit">Submit</button>
</form>
